

    @{
        ViewData["Title"] = "Home Page";
    }
<style>
    #channelList {
        overflow-y: scroll;
        max-height: 80vh; /* 80% de la altura de la pantalla */
    }

        #channelList::-webkit-scrollbar {
            width: 12px;
        }

        #channelList::-webkit-scrollbar-track {
            background: #1f1f1f;
        }

        #channelList::-webkit-scrollbar-thumb {
            background-color: #444; /* color de la barra de desplazamiento */
            border-radius: 20px;
            border: 3px solid #1f1f1f;
        }

            #channelList::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }

    .list-group-item.active {
        z-index: 2;
        /* color: #fff; */
        background-color: #DA70D6 !important;
    }
</style>




<div class="container-fluid">

    <div class="card bg-dark text-light mb-3">
        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseCard" aria-expanded="false" aria-controls="collapseCard" style="cursor: pointer;">
            <h5 class="mb-0">Upload EDF File</h5>
        </div>
        <div id="collapseCard" class="collapse">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="fileBackground" class="form-label">Select EDF file for background (Format example: Subject35_1.edf):</label>
                            <input type="file" id="fileBackground" name="fileBackground" class="form-control bg-dark text-light border-secondary" accept=".edf">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="fileTask" class="form-label">Select EDF file for task (Format example: Subject35_2.edf):</label>
                            <input type="file" id="fileTask" name="fileTask" class="form-control bg-dark text-light border-secondary" accept=".edf">
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button id="uploadButton" class="btn my-auto btn-primary w-100">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div class="d-flex">
                    <select id="subjectSelect" class="form-select bg-dark text-light border-secondary mr-2"></select>
                    <div id="subjectInfo" class="d-flex flex-column">
                        <input id="subjectAge" type="text" class="form-control bg-dark text-light border-secondary mb-1" placeholder="Age" readonly>
                        <input id="subjectGender" type="text" class="form-control bg-dark text-light border-secondary" placeholder="Gender" readonly>
                    </div>
                </div>
            </div>
            <ul id="channelList" class="list-group mt-3"></ul>
        </div>
        <div class="col-md-2">
            <div id="zoneName" class="text-center mb-2"></div>
            <div id="zoneInfo" class="text-center"></div>
            <div id="eegPlotZoneSummary" style="width:100%;height:30%;" class="mt-3"></div>
            <div id="channelName" class="text-center mb-2 mt-3"></div>
            <div id="activityInfo" class="text-center"></div>
            <div id="eegPlotChannelSummary" style="width:100%;height:30%;" class="mt-3"></div>
        </div>
        <div class="col-md-8">
            <div id="eegPlotBack" style="width:100%;height:50%;"></div>
            <div id="eegPlotTask" style="width:100%;height:50%;"></div>
        </div>
    </div>
</div>