<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>References</h1>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item bg-secondary text-white">
                    Fernández Bravo, J. A. (2010). Neurociencias y enseñanza de la matemática: Prólogo de algunos retos educativos. Revista Iberoamericana de Educación, 51(Extra 3).
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Sinc. (2016, April 11). Detectan regiones del cerebro que se activan en los matemáticos. Agencia SINC. <a href="https://www.agenciasinc.es/Noticias/Detectan-regiones-del-cerebro-que-se-activan-en-los-matematicos" target="_blank">https://www.agenciasinc.es/Noticias/Detectan-regiones-del-cerebro-que-se-activan-en-los-matematicos</a>
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Bertran Prieto, P. (2023, 27 febrero). Lóbulo frontal del cerebro: anatomía y funciones. MedicoPlus. <a href="https://medicoplus.com/neurologia/lobulo-frontal" target="_blank">https://medicoplus.com/neurologia/lobulo-frontal</a>
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Ballestra, M., Martínez, J., & Argibay, P. (2006). Matemáticas y cerebro. Revista del Hospital Italiano de Buenos Aires, 26(2), 79-84. Recuperado de <a href="http://revista.hospitalitaliano.org.ar" target="_blank">http://revista.hospitalitaliano.org.ar</a>
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Diamond, M. C., Scheibel, A. B., & Elson, L. M. (2013). El cerebro humano. Libro de trabajo. Editorial Ariel.
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Allen, J. S., Bruss, J., & Damasio, H. (2005). Estructura del cerebro humano. Investigación y Ciencia, enero 2005, 68-73.
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Fehr, T., Code, C., & Herrmann, M. (2007). The role of feedback in learning a vernier discrimination task. Brain Research, 1177, 66-74. <a href="https://doi.org/10.1016/j.brainres.2007.07.009" target="_blank">https://doi.org/10.1016/j.brainres.2007.07.009</a>
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Gall, F. J., & Spurzheim, J. (2005). Estructura y funciones del cerebro humano. Universidad de Viena.
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Gómez Cumpa, J. W., & de la Cruz, V. (2004). Neurociencia cognitiva y educación. Universidad Nacional Mayor de San Marcos.
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Herrmann, C. S., & Knight, R. T. (2001). Mechanisms of human attention: Event-related potentials and oscillations. Neuroscience & Biobehavioral Reviews, 25(6), 465-476. <a href="https://doi.org/10.1016/S0149-7634(01)00027-6" target="_blank">https://doi.org/10.1016/S0149-7634(01)00027-6</a>
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Milton, K. (2003). The critical role played by animal movement in determining the effects of deforestation on biodiversity. Biodiversity and Conservation, 12(5), 721-737. <a href="https://doi.org/10.1023/A:1023022504104" target="_blank">https://doi.org/10.1023/A:1023022504104</a>
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Scheibel, A. B., & Paul, L. A. (2001). Magnetoencephalography: Measuring electromagnetic activity of the brain. Journal of Neuropsychiatry, 21(4), 345-359.
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Zatorre, R. J., & Belin, P. (2001). Spectral and temporal processing in human auditory cortex. Cerebral Cortex, 11(10), 946-953. <a href="https://doi.org/10.1093/cercor/11.10.946" target="_blank">https://doi.org/10.1093/cercor/11.10.946</a>
                </li>
                <li class="list-group-item bg-secondary text-white">
                    Dehaene, S. (1992). Varieties of numerical abilities. Cognition.
                </li>
                <li class="list-group-item bg-secondary text-white">
                    The neural correlates of mental arithmetic in adolescents: a longitudinal fNIRS study. Behavioral and Brain Functions, 14(1). <a href="https://doi.org/10.1186/s12993-018-0137-8" target="_blank">https://doi.org/10.1186/s12993-018-0137-8</a>
                </li>
            </ul>
        </div>
    </div>
</div>
