<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Serene Escapes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

</head>
<body class="bg-dark text-white">
    <header>
        <!-- Navbar content -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid d-flex justify-content-between">
                <!-- Logo a la izquierda -->
                <a class="navbar-brand" href="#">
                    <img src="/img/ggs.png" alt="GGS" height="40">
                </a>

                <!-- Botón de toggler para dispositivos móviles -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Contenido del navbar -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- Enlaces centrados -->
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                        </li>
                    </ul>

                    <!-- Iconos de usuario y carrito a la derecha -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-user-circle"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="m-0 p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-dark text-light pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <h5>EEG Analizer</h5>
                    <p>Una plataforma que permite monitorear los resultados de actividad cerebral mediante resultados de encefalogramas.</p>
                </div>
                <div class="col-md-2">
                    <h5>ACERCA</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>COMUNIDAD</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Articulos</a></li>
                        <li><a href="#" class="text-light">Referencias</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/block-ui/block-ui.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script src="~/js/controller.js" type="module"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
